{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>
{% for skill in skills.toolset %}
  <div class="skillset">


    <div class="meta">
      <div class="upper-row">
        <div class="skills-title">{{ skill.name }}</div>
      </div>
    </div>

    <div class="details">

        {{ skill.details | markdownify }}

    </div><!--//details-->

  </div><!--//item-->
    {% endfor %}



</section><!--//skills-section-->
{% endif %}
